.container {
    display: block;
    background-color: #343a40!important;
    border-radius: 8px;
    box-shadow: 3px 4px 4px lightslategray;
    align-content: center;
    color: white;
    padding: 1em;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

a:hover {
    color: grey;
}

span {
    display: inline-block;
}