<div class="panel panel-primary container">
    <div class="panel-heading">
        <h4>{{title}}</h4>
    </div>

    <div class="panel-body">
        <ul>
            <li> {{ name }} {{ surname }}</li>
            <li>
                Escribime a <a href="mailto:{{ email }}?Subject=Despegar%20App" target="_top">{{ email }}</a>
            </li>
            <li> {{ telephone }} </li>
            <li>
                <a href={{cv}} target="_blank"> Visita mi CV online!</a>
            </li>
        </ul>

        <p *ngFor="let description of app_description">{{ description }}</p>
        <p *ngFor="let observation of observations">{{ observation }}</p>
    </div>
</div>