.container {
    padding: 0em;
}

.centered {
    text-align: center;
}

img {
    padding: 2em;
    width: 40%;
    display: inline;
}

h4 {
    text-align: center;
    font-size: 2em;
}

img#angular {
    width: 20%;
}

img#delivery {
    width: 30%;
}