<div class="panel panel-primary container">
    <div class="panel-heading">
        <h4>{{title}}</h4>
    </div>
    <div class="panel-body centered">
        <img id="despegar" src={{image_despegar}} alt="Imagen de despegar" />
        <i class="fa fa-5x fa-angle-double-right"></i>
        <img id="angular" src={{image_angular}} alt="Imagen de angular" />
        <i class="fa fa-5x fa-angle-double-right"></i>
        <img id="delivery" src={{image}} alt="Imagen de delivery" />
    </div>
</div>