<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <h4>Listado de deliveries</h4>
                </div>
                <div class="col-md-3 col-md-offset-5">
                    <button routerLink="/create" class="btn btn-primary right-btn" type="button">
                        <i class="fa fa-plus"></i> Crear Delivery</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <app-grid [options]="columns" [data]="deliveryList"></app-grid>
</div>